* {
    background-color: #1f2235;
}

.header {
    background-color: #313552;
}

.but:hover {
    background-color: white;
    color: black;
    padding: 6px;
    border: 2px;
}

.navbar {
    display: flex;
    color: black;
    justify-content: center;
    font-size: x-large;
    background-color: #313552;
    gap: 6px;
    padding: 0;
}

.navbar a {
    font-size: x-large;
    margin-top: 10px;
    margin-right: 10%;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    background-color: #313552;
    text-transform: uppercase;
}

.titres {
    background-color: #313552;
}

.titres h1 {
    font-size: 28px;
    color: white;
    margin-top: 100px;
    margin-left: 150px;
    font-weight: 700;
    background-color: #313552;
     color:#FFC576;
}

.titres h2 {
    font-size: 20px;
    color: white;
    margin-left: 150px;
    font-weight: 500;
    background-color: #313552;
    padding-bottom: 100px;
}

.projet {
    display: flex;
    flex-direction: row;
    background-color: #1f2235;
}
.projet1 img, .projet2 img{
    width: 25%;
    height: 25%;
    box-sizing: border-box;
}
.projet1 p,.projet2 p{
    white-space: pre-line;
    color: white;
    font-size: 20px;
}
.projet1 h2,.projet2 h2{
    color: #FFC576;

}
.boutflo{
display: flex;
flex-direction: row;
}
.bubu{
    border: solid #FFC576 2px;
    color: #FFC576;
    background-color: black;
    margin-left: 8px;
    margin-right: 10px;
    border-radius: 999px;
    padding: 10px 12px;
}