<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">:
    <link rel="stylesheet" href="/_layouts/exp.html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/exp.css">
    <script src="https://kit.fontawesome.com/d10e1be995.js" crossorigin="anonymous"></script>
    <title>Parcours</title>
</head>

<body>
 <header>
      <div class="navbar">
    <a class="but" href="/">Accueil</a>
    <a class="but" href=" /à-propos-de-moi">à Propos</a>
    <a class="but" href="/mes-projets/">Projets</a>
    <a class="but" href="/contact/">Contact</a>
  </div>
 </header>
    <div class="parcours">

        <h1 class="titre">Mon parcours</h1>
        <div class="formations">
            <p>Étudiant en développement web, je me forme aux différentes technologies et méthodologies du web à travers
                mon
                parcours académique.
                Mes formations m'ont permis d'acquérir des bases solides en programmation,
                en conception de sites et d'applications web, ainsi qu'en compréhension des besoins utilisateurs.</p>
            <p>Actuellement à la Web Académie, j'apprends le développement web de manière concrète et intensive.
                Cette formation, entièrement axée sur la pratique, me permet de réaliser de nombreux projets qui
                m'aident à
                maîtriser les bases du front-end et du back-end.
                Elle me permet également de concevoir des sites et des applications web tout en adoptant de bonnes
                pratiques
                professionnelles.
            </p>
            <p>Par le passé, j'ai travaillé dans le domaine de la restauration, où j'ai débuté en tant que serveur avant
                d'évoluer en cuisine jusqu'au poste de second de cuisine.
                Cette expérience m'a ensuite permis d'accéder à un rôle d'assistant de direction,
                renforçant ainsi mon sens des responsabilités, de l'organisation et du travail en équipe.</p>
        </div>
    </div>
    <div class="coco">

        <div class="logiciel">
            <h2>Language de programmation maîtrisés:</h2>
            <div class="logi">
                <i class="fa-brands fa-html5"></i>
                <i class="fa-brands fa-css"></i>
                <i class="fa-brands fa-php"></i>
                <i class="fa-brands fa-js"></i>
            </div>

        </div>
        <h2 class="langue">Langues</h2>
        <div class="langues">
            <p>Anglais : niveau C3</p>
            <p>Francais : langue maternelle</p>
        </div>
        <div class="Quali">
            <h1 class="titre">Qualités</h1>
            <div class="qlcont">
                <div class="Q1">
                    <h3>Autonome</h3>
                    <p>Grâce à ma longue expérience en restauration,
                        je suis autonome et j'arrive facilement à finir
                        gérer mon temps sur plusieurs projets</p>
                </div>
                <div class="Q2">
                    <h3>Sociable</h3>
                    <p>Je peux facilement m'intéger à une éaquipe de tout âge et
                        facilement travailler avec tout type de profils</p>
                </div>
                <div class="Q3">
                    <h3>Motivé</h3>
                    <p>Prêt à réaliser tout sorte de projet et apprendre plein de nouvelles choses ,
                        j'essaye réguliérement de me former sur plein de nouvelles choses</p>
                </div>

            </div>
        </div>

    </div>


    </div>
</body>

</html>