<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/projet.css">
    <title>Projets</title>
</head>

<body>
    <div class="header">

        <div class="navbar">
            <a class="but" href="/">Accueil</a>
            <a class="but" href=" /à-propos-de-moi">à Propos</a>
            <a class="but" href="/mes-projets/">Projets</a>
            <a class="but" href="/contact/">Contact</a>
        </div>
        <div class="titres">
            <h1>Mes Projets</h1>
            <h2>Voici un éventail des projets auquel j'ai participé</h2>
        </div>
    </div>
    <div class="projet">

        <div class="projet1">
            <a href=""><img src="/css/images/KLivio site.png" alt="screenshot de mon site KLIVIO"></a>
            <h2>n°1:Reproduction d'une maquette de site</h2>
            <p>Mon premier projets est une reproduction d'une maquette de site qui nous a étais fournis sur Figma.
                Grâce à cette maquette, j'ai pus renforcer mes acquis en Html et CSS,
                et apprendre de nouvelles choses comme le Flexbox, et quelques régles pour embellir un site.
            <div class="boutflo">
                <p class="bubu">Html</p>
                <p class="bubu">CSS</p>
            </div>
            </p>
        </div>
        <div class="projet2">
            <a href=""><img src="/css/images/KLivio site.png" alt="screenshot de mon deuxiéme projet"></a>
            <h2>n°2:Reproduction d'une maquette de site en Tailwinds</h2>
            <p>Mon deuxième projet consistait à reproduire la même composition du site,
                tout en permettant de modifier les différents éléments,
                tels que les couleurs et le design de chaque composant.
                Cela avait pour objectifs de m'initier à Tailwinds </p>
            <div class="boutflo">
                <p class="bubu">HTML</p>
                <p class="bubu">Tailwinds</p>
            </div>
        </div>

    </div>
    </div>



</body>

</html>