<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact.css">
    <script src="https://kit.fontawesome.com/d10e1be995.js" crossorigin="anonymous"></script>
    <title>Contact</title>
</head>


<body>
    <div class="header">

        <div class="navbar">
            <a class="but" href="/">Accueil</a>
            <a class="but" href=" /à-propos-de-moi">à Propos</a>
            <a class="but" href="/mes-projets/">Projets</a>
            <a class="but" href="/contact/">Contact</a>
        </div>
    </div>

    <h1 class="title">N'hésitez pas à me contater</h1>
    <div class="logo">
        <a href="https://fr.linkedin.com/"><i class="fa-brands fa-square-linkedin"></i></a>
        <a href="https://github.com"><i class="fa-brands fa-github-alt"></i></a>

    </div>
    <div class="mail">
        <p>Via mon email :aminesokate77@gmail.com</p>

    </div>
    <div class="form">
      
            <div class="Nom">
                <label for="Nom"></label>
                <input class="names" type="text" id="Nom" name="Nom d'utilisateur" placeholder="Nom">
            </div>

            <div class="email">
                
                <label for="email"></label>
                <input class="email" id="email" name="Email d'utilisateur" placeholder="Email">
            </div>
        </div>
        <div class="message">
            <label for="message"></label>
            <textarea class="message" name="Message d'utilisateur" placeholder="Votre message"></textarea>
        </div>
        <div class="Button">
            <button class="btn" type="submit">Envoyer</button>
        </div>
</body>

</html>