<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <script src="https://kit.fontawesome.com/d10e1be995.js" crossorigin="anonymous"></script>

  <link href="/css/home.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfoliio</title>
</head>

<body>
  <div class="navbar">
    <a class="but" href="/">Accueil</a>
    <a class="but" href=" /à-propos-de-moi">à Propos</a>
    <a class="but" href="/mes-projets/">Projets</a>
    <a class="but" href="/contact/">Contact</a>
  </div>
  <div class="intro">
    <a><img class="Pdp" src="/css/images/PDP.jpg" alt="photo de profil"></a>
    <h1>Amine SOKATE</h1>
    <h2>  Étudiant en développement web, je me forme aux différentes technologies et
        méthodologies du web à travers mon parcours académique.
        Mes formations m'ont permis d'acquérir des bases solides en programmation,
        en conception de sites et d'applications web, ainsi qu'en compréhension des besoins utilisateurs.</h2>
    <div class="logo">
      <a href=""><i class="fa-brands fa-square-linkedin"></i></a>
      <a href=""><i class="fa-brands fa-github-alt"></i></a>
      <a href=""><i class="fa-solid fa-envelope"></i></a>
    </div>

</body>

</html>