html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color:black;
    padding: 0;
    margin: 0;
}

.but:hover{
    background-color: white;
    color: black;
    padding: 6px;
    border: 2px;
}
.navbar {
    display: flex;
    color: aliceblue;
    justify-content: center;
    font-size: x-large;
    gap: 6px;
    padding: 0;
}

.navbar a {
    font-size: x-large;
    margin-top: 10px;
    margin-right: 10%;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.intro {
    color: white;
}

.intro h1 {
    text-align: center;

}

.fa-github-alt {
    color: white;
    font-size: 25px;
}

.fa-envelope {
    color: white;
    font-size: 25px;
}

.fa-square-linkedin {
    color: white;
    font-size: 25px;
}

.intro h2 {
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
}

.intro p {
    white-space: pre-line;
    text-align: center;
   
}
.projets{
    display: flex;
    justify-content: space-evenly;


}
.titresection {
     font-size:34px;
    text-decoration: none;
    color: white;
     margin-bottom: 25px;
     margin-top: 50px;
}